footer {
  padding: 2rem;
  background-color: var(--overlay-background-color);
  font-size: var(--body-font-size-s);
  font-family: var(--heading-font-family);
  text-decoration: none;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer a {
  text-decoration: none;
  transition: all 0.3s ease;
}
